@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gradient-1: 167, 243, 208;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --gradient-1: 6, 78, 59;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(
    at center top,
    rgb(var(--gradient-1)),
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  )
    rgb(var(--background-start-rgb));
}

.char {
  transform: translateY(115px);
  transition: transform .5s;
}

#title {
  transform: translateX(-1300px);
  transition: transform .5s;
}